[submodule "dependencies/pytorch3d"]
    path = dependencies/pytorch3d
    url = https://github.com/facebookresearch/pytorch3d.git
    ignore = all
[submodule "airexo"]
	path = airexo
	url = https://github.com/1JI0O/AirExo-2.git
    ignore = all
[submodule "sam2"]
	path = sam2
	url = https://github.com/1JI0O/sam2.git
